


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-theme {
    --logo-color: #fff;
    --header-bg: #27b8c2;
    
    --editor-background: #353535;
    --editor-frame-color: #454545;
    --editor-line-number-color: rgb(175, 165, 19);
    --editor-line-focus-color: #ffffff15;
    --editor-caret-color: #fff9;
    --editor-text-color: #ffffff;
}


body {
    background: lightgrey;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    position: relative;
    height: calc(100vh - 30px);
    width: 100vw;
}

header {
    height: 30px;
    background: var(--header-bg);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
    #logo {
        font-size: 20px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: var(--logo-color);
    }
}

#editors {
    display: flex;
    position: absolute;
    height: 100%;
    width: 50%;
    flex-direction: column;
    > div {
        height: 100%;
        position: relative;
        background: var(--editor-frame-color);
        .editor-info {
            padding: 8px 0;
            position: absolute;
            height: 10%;
            width: 96%;
            top: 0;
            left: 2%;
            .editor-title {
                color: #fff;
            }
        }
    
        > canvas {
            border-radius: 4px;
            position: absolute;
            background: var(--editor-background);
            width: 96%;
            height: 85%;
            top: 11%;
            left: 2%;
            vertical-align: middle;
        }
    }
    #html-input {
        border-bottom: .5px solid #ffffff17;
    }
    #css-input {
    }
    #js-input {
        display: none;
    }
}

#live-preview {
    background: #fff;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
}

@media (min-width: 900px) {
    #editors {
        width: 35%;
    }
    #live-preview {
        width: 65%;
    }
}