* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-theme {
  --logo-color: #fff;
  --header-bg: #27b8c2;
  --editor-background: #353535;
  --editor-frame-color: #454545;
  --editor-line-number-color: rgb(175, 165, 19);
  --editor-line-focus-color: #ffffff15;
  --editor-caret-color: rgb(180, 182, 255);
  --editor-text-color: #ffffff;
}

body {
  background: lightgrey;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -1px;
}

main {
  position: relative;
  height: calc(100vh - 30px);
  width: 100vw;
}

header {
  height: 30px;
  background: var(--header-bg);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

header #logo {
  font-size: 20px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--logo-color);
}

#editors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#editors > div {
  height: 100%;
  position: relative;
  background: var(--editor-frame-color);
}

#editors > div .editor-info {
  padding: 8px 0;
  position: absolute;
  height: 10%;
  width: 96%;
  top: 0;
  left: 2%;
}

#editors > div .editor-info .editor-title {
  color: #fff;
}

#editors > div > canvas {
  border-radius: 4px;
  position: absolute;
  background: var(--editor-background);
  width: 96%;
  height: 85%;
  top: 11%;
  left: 2%;
  vertical-align: middle;
}

#editors #html-input {
  border-bottom: .5px solid #ffffff17;
}

#editors #js-input {
  display: none;
}

#live-preview {
  background: #fff;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
}

@media (min-width: 900px) {
  #editors {
    width: 35%;
  }
  #live-preview {
    width: 65%;
  }
}
